In [1]:
# dict
# -Indexed
# -ordered
# -Multiple Value
# -Mutable datatype

In [2]:
# #d = {}
# #d = dict()
# d = {<key>:<value>,<key>:<value>,..}

In [3]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [7]:
d['c']

'Cat'

In [8]:
len(d)

3

In [9]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
d['a'] = 'apple'

d

{'a': 'apple', 'b': 'Ball', 'c': 'Cat'}

In [10]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
d['d'] = 'dog'
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'dog'}

In [11]:
d = {}
d['a'] = 'Apple'
d['b'] = 'Ball'
d['c'] = 'Cat'
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [13]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    d[name] = phone
    
print(d)

Enter n = 2
Enter name = Ram
Enter phone = 9808667654
Enter name = Shyam
Enter phone = 9808667654
{'Ram': '9808667654', 'Shyam': '9808667654'}

In [14]:
for i in d:
    print(i)

Ram
Shyam

In [15]:
for i in d.values():
    print(i)

9808667654
9808667654

In [16]:
for i in d.items():
    print(i)

('Ram', '9808667654')
('Shyam', '9808667654')

In [22]:
x = []
d = {'Ram': '9808667654', 'Shyam': '9808667654'}
for i in d.items():
    x.append(i)
    
x

[('Ram', '9808667654'), ('Shyam', '9808667654')]

In [23]:
dict(x)

{'Ram': '9808667654', 'Shyam': '9808667654'}

In [25]:
d = {'Ram': '9808667654', 'Shyam': '9808667654'}
c = {'Hari':9867667654}
d.update(c)
d

{'Ram': '9808667654', 'Shyam': '9808667654', 'Hari': 9867667654}

In [26]:
d = {0: '9808667654', 1: '9808667654'}
d

{0: '9808667654', 1: '9808667654'}

In [31]:
d = {('Ram','Shyam'): '9808667654', 1: '9808667654'}
d

{('Ram', 'Shyam'): '9808667654', 1: '9808667654'}

In [28]:
d = {['Ram,Shyam']: '9808667654', 1: '9808667654'}
d

TypeError: unhashable type: 'list'

In [30]:
d = {('Ram','Shyam'): '9808667654', 1: '9808667654'}
d[('Ram','Shyam')]

'9808667654'

In [35]:
# del pop()
d = {'Ram': '9808667654', 'Shyam': '9808667654', 'Hari': 9867667654}
del d['Ram']
print(d)

{'Shyam': '9808667654', 'Hari': 9867667654}

In [36]:
d = {'Ram': '9808667654', 'Shyam': '9808667654', 'Hari': 9867667654}
d.pop('Ram')
d

{'Shyam': '9808667654', 'Hari': 9867667654}

In [37]:
d = {'Ram': '9808667654', 'Shyam': '9808667654', 'Hari': 9867667654}
d.clear()
d

{}

In [39]:
#list inside dictionary
d = {'Ram': [9808667654,9807887654],
     'Shyam': [9808667654,9867667543],
     'Hari': [9867667654,9808667654]}
print(d)

{'Ram': [9808667654, 9807887654], 'Shyam': [9808667654, 9867667543], 'Hari': [9867667654, 9808667654]}

In [41]:
print(d['Ram'])
print(d['Ram'][0])

[9808667654, 9807887654]
9808667654

In [42]:
d ={}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = int(input("Enter ntc_phone = "))
    ncell_phone = int(input("Enter ncell_phone = "))
    d[name] = [ntc_phone,ncell_phone]
    
d

Enter n = 2
Enter name = Ram
Enter ntc_phone = 9867667654
Enter ncell_phone = 9808667654
Enter name = Shyam
Enter ntc_phone = 9867667654
Enter ncell_phone = 9808667654

{'Ram': [9867667654, 9808667654], 'Shyam': [9867667654, 9808667654]}

In [43]:
a = {'Ram': [9867667654, 9808667654], 'Shyam': [9867667654, 9808667654]}
for i in a.items():
    print(i)

('Ram', [9867667654, 9808667654])
('Shyam', [9867667654, 9808667654])

In [44]:
a = {'Ram': [9867667654, 9808667654], 'Shyam': [9867667654, 9808667654]}
a['Hari'] = [9876556543,9808776765]
a

{'Ram': [9867667654, 9808667654],
 'Shyam': [9867667654, 9808667654],
 'Hari': [9876556543, 9808776765]}

In [49]:
a = {'Ram': [9867667654, 9808667654], 'Shyam': [9867667654, 9808667654]}
a['Ram'][0]

9867667654

In [51]:
a = {'Ram': [9867667654, 9808667654], 'Shyam': [9867667654, 9808667654]}
a['Ram'][0]= 98000000
a

{'Ram': [98000000, 9808667654], 'Shyam': [9867667654, 9808667654]}

In [53]:
a = {'Ram': [9867667654, 9808667654], 'Shyam': [9867667654, 9808667654]}
a['Ram'].append(9878778765)
a

{'Ram': [9867667654, 9808667654, 9878778765],
 'Shyam': [9867667654, 9808667654]}

In [ ]:
# a = {'name':[],'age':[],'add':[]}
name = []
age = []
add = []
n = input("Enter n = ")
for i in range(n):
    na = input("Enter name = ")
    ag = int(input("Enter age = "))
    ad = input("Enter add = ")
    name.append(na)
    age.append(ag)
    add.append(ad)
    
a = {'name':name,'age':age,'address':add}
a

In [1]:
# dict inside list
l = [{'name':'Ram','age':34,'add':'Kathmandu'},
    {'name':'Shyam','age':56,'add':'Bhaktapur'},
    {'name':'Hari','age':67,'add':'Lalitpur'}]
l

[{'name': 'Ram', 'age': 34, 'add': 'Kathmandu'},
 {'name': 'Shyam', 'age': 56, 'add': 'Bhaktapur'},
 {'name': 'Hari', 'age': 67, 'add': 'Lalitpur'}]

In [2]:
data = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info = {'name':name,'age':age,'add':add}
    data.append(info)
    
print(data)

Enter n = 2
Enter name = Ram
Enter age = 34
Enter add = Kathmandu
Enter name = Shyam
Enter age = 89
Enter add = Bhaktapur
[{'name': 'Ram', 'age': 34, 'add': 'Kathmandu'}, {'name': 'Shyam', 'age': 89, 'add': 'Bhaktapur'}]

In [3]:
data = [{'name': 'Ram', 'age': 34, 'add': 'Kathmandu'}, 
        {'name': 'Shyam', 'age': 89, 'add': 'Bhaktapur'}]
data.append({'name':'Hari','age':78,'add':'Lalitpur'})
data

[{'name': 'Ram', 'age': 34, 'add': 'Kathmandu'},
 {'name': 'Shyam', 'age': 89, 'add': 'Bhaktapur'},
 {'name': 'Hari', 'age': 78, 'add': 'Lalitpur'}]

In [5]:
print(data[0])

{'name': 'Ram', 'age': 34, 'add': 'Kathmandu'}

In [6]:
print(data[0]['name'])

Ram

In [7]:
data[0]['name'] = 'Ramesh'
data

[{'name': 'Ramesh', 'age': 34, 'add': 'Kathmandu'},
 {'name': 'Shyam', 'age': 89, 'add': 'Bhaktapur'},
 {'name': 'Hari', 'age': 78, 'add': 'Lalitpur'}]

In [8]:
del data[0]['name']
data

[{'age': 34, 'add': 'Kathmandu'},
 {'name': 'Shyam', 'age': 89, 'add': 'Bhaktapur'},
 {'name': 'Hari', 'age': 78, 'add': 'Lalitpur'}]

In [9]:
# dict inside dict

In [11]:
a = {1:{'name':'Ram','age':67,'add':'Kathandu'},
    2:{'name':'Shyam','age':89,'add':'Lalitpur'},
    3:{'name':'Hari','age':89,'add':'Bhaktapur'}}
a

{1: {'name': 'Ram', 'age': 67, 'add': 'Kathandu'},
 2: {'name': 'Shyam', 'age': 89, 'add': 'Lalitpur'},
 3: {'name': 'Hari', 'age': 89, 'add': 'Bhaktapur'}}

In [13]:
d = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info = {'name':name,'age':age,'add':add}
    d[i] = info
    
print(d)

Enter n = 2
Enter name = Ram
Enter age = 89
Enter add = Kathmandu
Enter name = Shyam
Enter age = 45
Enter add = Bhaktapur
{1: {'name': 'Ram', 'age': 89, 'add': 'Kathmandu'}, 2: {'name': 'Shyam', 'age': 45, 'add': 'Bhaktapur'}}

In [14]:
a = {1: {'name': 'Ram', 'age': 89, 'add': 'Kathmandu'}, 
     2: {'name': 'Shyam', 'age': 45, 'add': 'Bhaktapur'}}

a[3] = {'name': 'Hari', 'age': 89, 'add': 'Bhaktapur'}
a

{1: {'name': 'Ram', 'age': 89, 'add': 'Kathmandu'},
 2: {'name': 'Shyam', 'age': 45, 'add': 'Bhaktapur'},
 3: {'name': 'Hari', 'age': 89, 'add': 'Bhaktapur'}}

In [16]:
a[1]['name']= 'Akash'
a

{1: {'name': 'Akash', 'age': 89, 'add': 'Kathmandu'},
 2: {'name': 'Shyam', 'age': 45, 'add': 'Bhaktapur'},
 3: {'name': 'Hari', 'age': 89, 'add': 'Bhaktapur'}}

In [19]:
for i in a.values():
    print(i)

{'name': 'Akash', 'age': 89, 'add': 'Kathmandu'}
{'name': 'Shyam', 'age': 45, 'add': 'Bhaktapur'}
{'name': 'Hari', 'age': 89, 'add': 'Bhaktapur'}

In [20]:
for i in a.values():
    phone = int(input("Enter phone = "))
    i['phone'] = phone
    
print(a)

Enter phone = 9809887765
Enter phone = 9809889876
Enter phone = 9808667654
{1: {'name': 'Akash', 'age': 89, 'add': 'Kathmandu', 'phone': 9809887765}, 2: {'name': 'Shyam', 'age': 45, 'add': 'Bhaktapur', 'phone': 9809889876}, 3: {'name': 'Hari', 'age': 89, 'add': 'Bhaktapur', 'phone': 9808667654}}

In [22]:
for i in a.values():
    ntc_phone = int(input("Enter ntc phone = "))
    ncell_phone = int(input("Enter ncell phone = "))
    i['phone'] = [ntc_phone,ncell_phone]
    
print(a)

Enter ntc phone = 9878778765
Enter ncell phone = 9808778765
Enter ntc phone = 9876778765
Enter ncell phone = 9808667654
Enter ntc phone = 9867445432
Enter ncell phone = 980833445
{1: {'name': 'Akash', 'age': 89, 'add': 'Kathmandu', 'phone': [9878778765, 9808778765]}, 2: {'name': 'Shyam', 'age': 45, 'add': 'Bhaktapur', 'phone': [9876778765, 9808667654]}, 3: {'name': 'Hari', 'age': 89, 'add': 'Bhaktapur', 'phone': [9867445432, 980833445]}}

In [23]:
# CRUD
a = {1:{'phy':{'pr':34,'th':45},'che':{'pr':45,'th':89},'math':89}}
a

{1: {'phy': {'pr': 34, 'th': 45}, 'che': {'pr': 45, 'th': 89}, 'math': 89}}

In [ ]:
# tuple,set