In [9]:
a=10
b=10.5
c='Hello World'
d=True

print(a)
print(b)
print(c)
print(d)

10
10.5
Hello World
True

In [7]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [18]:
a = "10"
type(a)

str

In [21]:
a_b = 10
a_b

10

In [1]:
a,b = 10,20
print(a)
print(b)

10
20

In [3]:
# + - * / ** // %

In [7]:
a = 10
b = 3
c = a**b
print(c)

1000

In [8]:
a = 10
b = 3
c = a//b
print(c)

3

In [9]:
a = 10
b = 3
c = a%b
print(c)

1

In [1]:
a = input()
print(a)

10
10

In [4]:
a = input("Enter a = ")
print(a)
print(type(a))

Enter a = 10
10
<class 'str'>

In [6]:
a = int(input("Enter a = "))
print(a)
print(type(a))

Enter a = 10
10
<class 'int'>

In [7]:
p = float(input("Enter p = "))
t = float(input("Enter t = "))
r = float(input("Enter r = "))

i = p*t*r/100

print("The value of i = ",i)

Enter p = 1000
Enter t = 2
Enter r = 3.5
The value of i =  70.0

In [8]:
a = input("Enter a = ")
b = input("Enter b = ")
c = a+b
print(c)

Enter a = 10
Enter b = 20
1020

In [18]:
a = "10"
b = "20"
c = a+b
print(c)

1020

In [17]:
#type casting
a = 10
b = str(a)
print(b)

10

In [14]:
a = "10"
b = int(a)
b

10

In [13]:
a = 10.55
b = int(a)
b

10

In [19]:
a = "Hello "
b = "Python"
c = a+b
print(c)

Hello Python

In [30]:
a = "Hello World I am Python\n"
print(a*2)

Hello World I am Python
Hello World I am Python

In [23]:
a = "Hello "
b = 10
c = a+str(b)
print(c)

Hello 10

In [32]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter address = ")

info = "Hello World I am " + name + " I am from "+add + " I am " + str(age)
print(info)

Enter name = Ram
Enter age = 78
Enter address = Kathmandu
Hello World I am
Ram I am from Kathmandu I am 78

In [33]:
# boolean

In [34]:
a = True
b = False

c = a+b
print(c)

1

In [35]:
a = True
b = False

c = a*b
print(c)

0

In [37]:
True + True +False

2

In [41]:
a = 2+4j
print(type(a))

<class 'complex'>

In [43]:
a = 2+4j
b = 3+5j
a**2

(-12+16j)

In [ ]:
a2 +2ab +b2
-12 + 16j