In [1]:
!pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\coral\anaconda3\lib\site-packages (2.2.9)

WARNING: Ignoring invalid distribution -illow (c:\users\coral\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\coral\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\coral\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\coral\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\coral\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\coral\anaconda3\lib\site-packages)
WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the 'C:\Users\coral\Anaconda3\python.exe -m pip install --upgrade pip' command.

In [14]:
import mysql.connector  		#importing database
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database = "pythonclass3pm"
)
db = database.cursor()

In [5]:
#Selecting data from table
db.execute("SELECT * FROM student")
result =db.fetchall()
# for x in result:
#     print(x)
result

[(2, 'Sitaram', 11, 89, 89, 98, 90, 91, 460, 90, 'A+'),
 (5, 'Rita', 11, 89, 89, 98, 90, 91, 460, 90, 'A+'),
 (6, 'Nabin', 30, 89, 89, 98, 90, 91, 460, 90, 'A+')]

In [8]:
 for x in result:
    print(x)

(2, 'Sitaram', 11, 89, 89, 98, 90, 91, 460, 90, 'A+')
(5, 'Rita', 11, 89, 89, 98, 90, 91, 460, 90, 'A+')
(6, 'Nabin', 30, 89, 89, 98, 90, 91, 460, 90, 'A+')

In [9]:
#Selecting data from table
db.execute("SELECT sn,name,total FROM student")
result =db.fetchall()
# for x in result:
#     print(x)
result

[(2, 'Sitaram', 460), (5, 'Rita', 460), (6, 'Nabin', 460)]

In [11]:
# Inserting data
sql = f"INSERT INTO student(sn,name,physics,chemistry,math,english,
nepali,total,percentage,grade) VALUES(7,'Ram',89,67,98,87,67,410,82,'A')"
db.execute(sql)
database.commit()

In [15]:
name = input("Enter name = ")
physics = int(input("Enter physics = "))
chemistry = int(input("Enter chemistry = "))
math = int(input("Enter math = "))
english = int(input("Enter english = "))
nepali = int(input("Enter nepali = "))
total = sum([physics,chemistry,math,english,nepali])
per = total/5
if per >= 80:
    grade = 'A'
    
elif per >= 60:
    grade = 'B'
elif per >= 45:
    grade = 'C'
else:
    grade = 'F'

sql = f"INSERT INTO student(name,physics,chemistry,math,english,nepali,total,percentage,grade) 
VALUES('{name}',{physics},{chemistry},{math},{english},{nepali},{total},{per},'{grade}')"
db.execute(sql)
database.commit()

Enter name = Sabin
Enter physics = 90
Enter chemistry = 87
Enter math = 90
Enter english = 87
Enter nepali = 67

In [17]:
#delete
sql = "DELETE FROM student WHERE Sn = 8"
db.execute(sql)
database.commit()

In [ ]:
# update
sql = "UPDATE student SET name = 'Ram Prasad' WHERE name = 'Ram'"
db.execute(sql)
database.commit()