In [1]:
# # Python Collection
# list
# tuple
# dictionary
# set

In [2]:
# list
# -Indexed
# -ordered
# -Multiple values
# -mutable

In [4]:
a = ["Apple","Ball","Cat"]
b = [1,2,3,4,5,6,7]
# c = list()
c = []
print(a,b,c)
print(type(a))
print(type(b))
print(type(c))

['Apple', 'Ball', 'Cat'] [1, 2, 3, 4, 5, 6, 7] []
<class 'list'>
<class 'list'>
<class 'list'>

In [5]:
a = ["Apple","Ball","Cat","Fish"]
print(a[0])

Apple

In [7]:
a = ["Apple","Ball","Cat","Fish"]
print(a[-1])

Fish

In [6]:
a = ["Apple","Ball","Cat","Fish"]
print(a[0:3])

['Apple', 'Ball', 'Cat']

In [8]:
a = [1,2,3,4,5,6,7,8,9,0]
print(a[0:4])

[1, 2, 3, 4]

In [10]:
a = [1,2,3,4,5,6,7,8,9,0]
print(a[0:9:2])

[1, 3, 5, 7, 9]

In [11]:
a = "Hello World"
print(list(a))

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [12]:
a = ['Apple',"Ball"]
b = [1,2,3,4,5]
c = a+b
print(c)

['Apple', 'Ball', 1, 2, 3, 4, 5]

In [13]:
a = ['Apple',"Ball"]
print(a*2)

['Apple', 'Ball', 'Apple', 'Ball']

In [15]:
#Update
a = ["Apple","Ball","Cat","Fish"]
a[0] = "apple"
a

['apple', 'Ball', 'Cat', 'Fish']

In [16]:
# append() insert() extend()

In [17]:
# append()
a = []
a.append("Apple")
a.append("Ball")
a.append("Cat")
a

['Apple', 'Ball', 'Cat']

In [18]:
#insert()
a = ['apple', 'Ball', 'Cat', 'Fish']
a.insert(1,'Bat')
a

['apple', 'Bat', 'Ball', 'Cat', 'Fish']

In [19]:
#insert()
a = ['apple', 'Ball', 'Cat', 'Fish']
a.insert(3,'Bat')
a

['apple', 'Ball', 'Cat', 'Bat', 'Fish']

In [21]:
a = ['apple', 'Ball', 'Cat', 'Fish']
b = [1,2,3,4,5,6]
a.extend(b)
a

['apple', 'Ball', 'Cat', 'Fish', 1, 2, 3, 4, 5, 6]

In [22]:
a = ['apple', 'Ball', 'Cat', 'Fish']
b = [1,2,3,4,5,6]
c = a[0:2] +b +a[2:]
c

['apple', 'Ball', 1, 2, 3, 4, 5, 6, 'Cat', 'Fish']

In [24]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    l.append(x)
    
print(l)

Enter n = 5
Enter x = 231
Enter x = 43
Enter x = 35
Enter x = 23
Enter x = 34
[231, 43, 35, 23, 34]

In [26]:
print("Enter max value=",max(l))
print("Enter min value=",min(l))
print("Enter sum = ",sum(l))
l.sort()
print(l)
l.reverse()
print(l)

Enter max value= 231
Enter min value= 23
Enter sum =  366
[23, 34, 35, 43, 231]
[231, 43, 35, 34, 23]

In [29]:
a =["Apple","Zebra",'ant','coat','Fish']
a.sort()
print(a)

['Apple', 'Fish', 'Zebra', 'ant', 'coat']

In [30]:
a =["Apple","Zebra",'ant','coat','Fish']
for i in a:
    print(i)

Apple
Zebra
ant
coat
Fish

In [31]:
a =["Apple","Zebra",'ant','coat','Fish',"Apple"]
b = []
for i in a:
    if i != "Apple":
        b.append(i)
        
b

['Zebra', 'ant', 'coat', 'Fish']

In [ ]:
a =["Apple","Zebra",'ant','coat','Fish',"Apple"]
if "Apple" in a:
    print("Yes",a.count("Apple"))
    
else:
    print("No")

In [33]:
# del pop() remove()
a =["Apple","Zebra",'ant','coat','Fish',"Apple"]
del a[0]
print(a)

['Zebra', 'ant', 'coat', 'Fish', 'Apple']

In [36]:
a =["Apple","Zebra",'ant','coat','Fish',"Apple"]
del a[0:2]
print(a)

['ant', 'coat', 'Fish', 'Apple']

In [34]:
a =["Apple","Zebra",'ant','coat','Fish',"Apple"]
a.pop()
print(a)

['Apple', 'Zebra', 'ant', 'coat', 'Fish']

In [35]:
a =["Apple","Zebra",'ant','coat','Fish',"Apple"]
b = a.pop(1)
print(a)
print(b)

['Apple', 'ant', 'coat', 'Fish', 'Apple']
Zebra

In [37]:
a =["Apple","Zebra",'ant','coat','Fish',"Apple"]
a.index("Zebra")

1

In [ ]:
# WAP to detect index of a multiple value

In [38]:
# remove()
a =["Apple","Zebra",'ant','coat','Fish',"Apple"]
a.remove("Zebra")
a

['Apple', 'ant', 'coat', 'Fish', 'Apple']

In [1]:
# WAP to remove duplicate value

In [3]:
# LIst inside list
a = [[1,2,3],
    [4,5,6],
    [7,8,9]]
print(a)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [4]:
print(type(a))

<class 'list'>

In [7]:
a[2]

[7, 8, 9]

In [9]:
a = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(a[0])

[1, 2, 3]

In [16]:
print(a[1][2])

6

In [17]:
a = [["Ram",34,"Kthmandu"],
     ["Shyam",56,"Lalitpur"],
    ["Hari",45,"Bhaktapur"]]
a

[['Ram', 34, 'Kthmandu'], ['Shyam', 56, 'Lalitpur'], ['Hari', 45, 'Bhaktapur']]

In [18]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    i = [name,age,add]
    a.append(i)
    
print(a)

Enter n = 2
Enter name = Ram
Enter age = 78
Enter add = Kathmandu
Enter name = Shyam
Enter age = 89
Enter add = Bhaktapur
[['Ram', 78, 'Kathmandu'], ['Shyam', 89, 'Bhaktapur']]

In [20]:
a = [['Ram', 78, 'Kathmandu'], ['Shyam', 89, 'Bhaktapur']]
del a[0]
a

[['Shyam', 89, 'Bhaktapur']]

In [21]:
a = [['Ram', 78, 'Kathmandu'], ['Shyam', 89, 'Bhaktapur']]
a[0] = ['Rama',23,'kathmandu']
a

[['Rama', 23, 'kathmandu'], ['Shyam', 89, 'Bhaktapur']]

In [24]:
a = [['Ram', 78, 'Kathmandu'], ['Shyam', 89, 'Bhaktapur'], ['Hari',45,'Lalitpur']]
for i in a:
    print(i)

['Ram', 78, 'Kathmandu']
['Shyam', 89, 'Bhaktapur']
['Hari', 45, 'Lalitpur']

In [27]:
a = [['Ram', 78, 'Kathmandu'], ['Shyam', 89, 'Bhaktapur'], ['Ram',45,'Lalitpur']]
search = input("Enter name = ")

for i in a:
    if search in i:
        print(i)

Enter name = Ram
['Ram', 78, 'Kathmandu']
['Ram', 45, 'Lalitpur']

In [28]:
a = [['Ram', 78, 'Kathmandu'], ['Shyam', 89, 'Bhaktapur'], ['Ram',45,'Lalitpur']]
search = input("Enter name = ")
c = 0
for i in a:
    if search in i:
        c = c+1
        print(i)
        
print(f"There are {c}",search)

Enter name = Ram
['Ram', 78, 'Kathmandu']
['Ram', 45, 'Lalitpur']
There are 2 Ram

In [29]:
# WAP to create a list inside list with row and column
#r = ?
#c = ?
# [[1,2,3],
#  [4,5,6],
#  [7,8,9]]

In [30]:
l = []
r = int(input("Enter r= "))
c = int(input("Enter c = "))
for i in range(r):
    y = []
    for j in range(c):
        x = input("Enter x = ")
        y.append(x)
    l.append(y)
    
print(l)

Enter r= 2
Enter c = 2
Enter x = 132
Enter x = 234
Enter x = 345
Enter x = 56
[['132', '234'], ['345', '56']]

In [31]:
a = [i for i in range(5)]
a

[0, 1, 2, 3, 4]

In [32]:
a = [i for i in range(1,21)]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [35]:
a = [i for i in range(1,21)  if (i%2==0) & (i%4 == 0)]
a

[4, 8, 12, 16, 20]

In [34]:
a = ["APPLE","BALL","cat","dog"]
b = [i for i in a if i.isupper()]
b

['APPLE', 'BALL']

In [36]:
# WAP to create a billing system using list inside list
bill = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    info = [name,price,quantity,total]
    bill.append(info)
    
print(bill)

Enter n = 2
Enter name = banana
Enter price = 100
Enter quantity = 3
Enter name = Coke
Enter price = 200
Enter quantity = 4
[['banana', 100, 3, 300], ['Coke', 200, 4, 800]]