In [ ]:
# tuple

In [2]:
# Tuple
# -Indexed
# -ordered
# -Multiple values
# -Imutable

In [4]:
a = (1,2,3,4,5)
b = ("Apple","Ball","Cat","Dog")
print(a)
print(b)

print(type(a))
print(type(b))

(1, 2, 3, 4, 5)
('Apple', 'Ball', 'Cat', 'Dog')
<class 'tuple'>
<class 'tuple'>

In [6]:
print(b[0])
print(a[4])

Apple
5

In [7]:
a = (1,2,3,4,5)
b = ("Apple","Ball","Cat","Dog")
c = a+b
print(a+b)

(1, 2, 3, 4, 5, 'Apple', 'Ball', 'Cat', 'Dog')

In [21]:
a = (1,2,3,4,5)
print(a*2)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [10]:
a = tuple()
# a = ()
a = a+("Apple",) #->("Apple",)
a = a+("Ball",)
a

('Apple', 'Ball')

In [11]:
('apple',)+('ball',)

('apple', 'ball')

In [9]:
a = ("Apple",)
type(a)

tuple

In [12]:
t = ()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    t = t+(x,)
    
print(t)

Enter n = 5
Enter x = 234
Enter x = 64
Enter x = 234
Enter x = 56
Enter x = 234
(234, 64, 234, 56, 234)

In [13]:
# No append() extend() insert()
# No del pop() remove()
# No Update
# No sort()

In [14]:
a=(234, 64, 234, 56, 234)
for i in a:
    print(i)

234
64
234
56
234

In [19]:
a = (234, 64, 234, 56, 234)
a =list(a)
del a[0]
a = tuple(a)
a

(64, 234, 56, 234)

In [22]:
# tuple inside tuple
a = ((1,2,3),
     (4,5,6),
     (7,8,9))

In [23]:
data = tuple()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    x = (name,age,add)
    data = data+(x,)
print(data)

Enter n = 3
Enter name = 234
Enter age = 234
Enter add = 34
Enter name = 234
Enter age = 35
Enter add = 234
Enter name = 35
Enter age = 234
Enter add = 234
(('234', 234, '34'), ('234', 35, '234'), ('35', 234, '234'))

In [24]:
a = (('234', 234, '34'), ('234', 35, '234'), ('35', 234, '234'))
list(a)

[('234', 234, '34'), ('234', 35, '234'), ('35', 234, '234')]

In [27]:
b = []
a = (('234', 234, '34'), ('234', 35, '234'), ('35', 234, '234'))
for i in a:
    b.append(list(i))
    
b

[['234', 234, '34'], ['234', 35, '234'], ['35', 234, '234']]

In [30]:
b = ()
a = [['234', 234, '34'], ['234', 35, '234'], ['35', 234, '234']]
for i in a:
    b = b+(tuple(i),)
    
b

(('234', 234, '34'), ('234', 35, '234'), ('35', 234, '234'))